@inject MyBlog.Engine.Services.LayoutService service
@inject IOptions<Settings> options
@{
    var model = service.Model;
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
    <meta name="description" content="@(ViewBag.Description ?? "Un petit recueil de trucs astuces sur les developpements .net, XAML, Xamarin, UWP, WPF, WCF et Workflow Foundation entre autre")">
    <meta name="robots" content="index" />
    <title>@(ViewBag.Title ?? options.Value.Title)</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="author" href="~/humans.txt" />
    @* Feeds *@
    <link rel="alternate" title="@(options.Value.Title) - RSS" type="application/rss+xml" href="@Url.Action("Rss","Feed")" />
    <link rel="alternate" title="@(options.Value.Title) - Atom" type="application/atom+xml" href="@Url.Action("Atom","Feed")" />
    @* Open Live Writer *@
    <link rel="edituri" type="application/rsd+xml" href="/rsd.xml" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wlwmanifest.xml" />
    @* User's settings *@
    <partial name="_Style" model="model.UserSettings" />
    @RenderSection("head", false)
    @if (IsSectionDefined("ldjson"))
    {
        @RenderSection("ldjson")
    }
    else
    {
        <partial name="_OrganisationLdJson" />
    }
    @* Apple *@
    <meta property="apple-mobile-web-app-title" content="@(options.Value.Title)" />
    <link rel="apple-touch-icon" href="~/images/apple/logo-57.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/apple/logo-152.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="~/images/apple/logo-167.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/apple/logo-180.png" />
</head>
<body class="bigheader">
    <div id="skiptocontent"><a href="#maincontent">Skip to main content <span aria-hidden="true">&rarr;</span></a></div>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <div class="navbar-brand" role="banner">
                    <a href="/" aria-label="@options.Value.Title - @Resources.Home">
                        <div aria-hidden="true">
                            <img src="~/images/logo.png" alt="@options.Value.Title" />
                            <h1>
                                @options.Value.Title
                                <small>@Html.Raw(options.Value.SubTitle)</small>
                            </h1>
                        </div>
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="@Resources.ToggleNavigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarcollapse" role="navigation">
                    <ul class="navbar-nav">
                        <li>
                            <a class="nav-link" asp-controller="UserSettings" asp-action="Accessibility" role="button" onclick="Accessibility.show('@System.Net.WebUtility.HtmlEncode(Resources.AccessibilityFullTitle)'); return false">
                                <span class="sr-only">@Resources.AccessibilityFullTitle</span>
                                <span aria-hidden="true"><i class="fab fa-accessible-icon"></i> @Resources.Accessibility</span>
                            </a>
                        </li>
                        @*<li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i aria-hidden="true" class="fas fa-tags"></i> @Resources.Categories</a>
                                <div class="dropdown-menu">
                                    @foreach (var category in model.Categories)
                                    {
                                        <a class="dropdown-item d-flex justify-content-between align-items-center" href="@Url.Action("Category", "Post", new { Id = category.Id })">@category.Name <span class="badge badge-pill badge-primary">@category.Count</span></a>
                                    }
                                </div>
                            </li>*@
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-rss" aria-hidden="true"></i> @Resources.Feeds</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Feed" asp-action="Atom" type="application/atom+xml"><i class="fas fa-rss" aria-hidden="true"></i> @Resources.FeedAtom</a>
                                <a class="dropdown-item" asp-controller="Feed" asp-action="Rss" type="application/rss+xml"><i class="fas fa-rss" aria-hidden="true"></i> @Resources.FeedRss</a>
                            </div>
                        </li>
                        <li>
                            <a class="nav-link" asp-controller="Mail" asp-action="Index"><i class="fas fa-envelope"></i> @Resources.Mail</a>
                        </li>
                        @if (model.User == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" role="button" onclick="App.Login(); return false" asp-controller="Authentication" asp-action="Index" id="login">
                                    <i class="fas fa-sign-in-alt"></i> @Resources.LogInOrSignUp
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle" aria-hidden="true"></i> @(model.User.Name)</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Edit"><i class="far fa-id-card" aria-hidden="true"></i> @Resources.EditAccount</a>
                                    <a class="dropdown-item" asp-controller="Authentication" asp-action="Logout"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> @Resources.Logout</a>
                                </div>
                            </li>
                        }
                    </ul>
                    <form asp-controller="Post" asp-action="Search" method="get" class="form-inline my-2 my-lg-0" role="search">
                        <label for="query" class="sr-only">@Resources.SearchText</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="@Resources.SearchText" id="query" name="query">
                            <span class="input-group-append">
                                <button type="submit" class="btn btn-light" aria-label="@Resources.Search">
                                    <span class="fas fa-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" id="maincontent">
        <div class="row">
            <main role="main" class="col-lg-9">
                @RenderBody()
            </main>
            <aside class="col-lg-3">
                <panel id="me" icon="fa-id-badge" title="@options.Value.AuthorName">
                    <div class="row">
                        <div class="col-lg-12 col-3">
                            <img class="img-fluid mx-auto d-block rounded-circle" src="~/images/me.png" alt="@options.Value.AuthorName" />
                        </div>
                        <div class="col-lg-12 col-9">
                            @Html.Raw("<center>[Your bio, ... etc ...]</center>")<br />
                            <a class="float-right" asp-controller="About" asp-action="Index"><i class="fas fa-info"></i> @Resources.About</a>
                        </div>
                    </div>
                </panel>
                <div class="card mb-3">
                    <div class="card-header">
                        <h2>
                            <i class="fas fa-tags" aria-hidden="true"></i>
                            @Resources.Categories
                            @if (model.Categories.Length >= Constants.CategoriesDisplayedOnLayoutMax)
                            {

                                <a class="float-right"
                                   onclick="Dialog.Post('@Resources.CategoriesListDescription', '/Categories/PostIndex');return false"
                                   asp-controller="Categories"
                                   asp-action="Index"
                                   data-toggle="tooltip"
                                   title="@Resources.CategoriesShowAll">
                                    ...
                                </a>
                            }
                        </h2>
                    </div>
                    <div class="list-group list-group-wrap">
                        @foreach (var item in model.Categories)
                        {
                            <a class="list-group-item list-group-item-action col-12 col-sm-6 col-md-4 col-lg-12 d-flex justify-content-between align-items-center"
                               asp-controller="Post" asp-action="Category" asp-route-id="@item.Id">
                                @item.Name
                                <span class="badge badge-pill badge-primary">@item.Count</span>
                            </a>
                        }
                    </div>
                </div>
                <panel id="links">
                    <a href="https://twitter.com/JeremyJeanson" target="_blank" class="btn btn-block btn-social btn-twitter" rel="noopener">
                        <i class="fab fa-twitter"></i> Twitter
                    </a>
                    <a href="https://www.linkedin.com/in/jeremyjeanson" target="_blank" class="btn btn-block btn-social btn-linkedin" rel="noopener">
                        <i class="fab fa-linkedin-in"></i> LinkedIn
                    </a>
                    <a href="https://www.viadeo.com/fr/profile/jeremy.jeanson" target="_blank" class="btn btn-block btn-social btn-viadeo" rel="noopener">
                        <i class="fab fa-viadeo"></i> Viadéo
                    </a>
                </panel>
                <div class="card mb-3">
                    <div class="card-header">
                        <h2>
                            <i class="fas fa-calendar" aria-hidden="true"></i>
                            @Resources.Archives
                            @if (model.Archives.Length >= Constants.ArchivesDisplayedOnLayoutMax)
                            {
                                <a class="float-right"
                                   onclick="Dialog.Post('@Resources.ArchivesListDescription', '/Archives/PostIndex');return false"
                                   asp-controller="Archives"
                                   asp-action="Index"
                                   data-toggle="tooltip"
                                   title="@Resources.ArchivesShowAll">
                                    ...
                                </a>
                            }
                        </h2>
                    </div>
                    <div class="list-group list-group-wrap">
                        @foreach (var item in model.Archives)
                        {
                            <a class="list-group-item  list-group-item-action col-6 col-sm-3 col-lg-12 d-flex justify-content-between align-items-center"
                               asp-controller="Post" asp-action="Archive" asp-route-id="@item.Id.Id">
                                @item.Title
                                <span class="badge badge-pill badge-primary">@item.Count</span>
                            </a>
                        }
                    </div>
                </div>
            </aside>
        </div>
    </div>
    <footer>
        <div class="container d-flex flex-column">
            <div class="d-flex justify-content-center justify-content-md-start" role="contentinfo">
                <i class="fas fa-lightbulb" aria-hidden="true"></i> @Resources.Disclamer
            </div>
            <div class="d-flex flex-column justify-content-center flex-md-row justify-content-md-between">
                <ul class="list-unstyled d-flex flex-column  align-items-center align-items-md-start">
                    <li>
                        <a asp-controller="About" asp-action="Index"><i class="fas fa-info" aria-hidden="true"></i> @Resources.About</a>
                    </li>
                    <li>
                        <a asp-controller="About" asp-action="PrivacyAndUsage"><i class="fas fa-user-secret" aria-hidden="true"></i> @Resources.PrivacyPolicy</a>
                    </li>
                    <li>
                        <a asp-controller="About" asp-action="Cookies"><i class="fas fa-cookie-bite" aria-hidden="true"></i> @Resources.CookiesPolityTitle</a>
                    </li>
                </ul>
                <ul class="list-unstyled  d-flex  flex-column  align-items-center align-items-md-start">
                    <li><i class="fas fa-code" aria-hidden="true"></i> @(model.Version)</li>
                    <li><i class="fas fa-cloud" aria-hidden="true"></i> @(Resources.HostedOnAzure)</li>
                    <li>
                        <a href="https://github.com/JeremyJeanson/MyBlog.netcore" target="_blank">
                            <i class="fab fa-github" aria-hidden="true"></i> Code
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/js/common.js" asp-append-version="true"></script>
    @if (!model.UserSettings.CookiesConcentClosed)
    {
        <div class="alert alert-info fade show footeralert" id="cookieConcent">
            <div class="container">
                <a href="#" role="button" class="close" aria-label="close"><span aria-hidden="true">&times;</span></a>
                <h2><i class="fas fa-cookie-bite"></i> @Resources.CookiesConcentTitle <small>@Html.ActionLink(Resources.CookiesPolityTitle, "Cookies", "About", null, new { @class = "alert-link" })</small></h2>
                @Resources.CookiesConcentContent
            </div>
        </div>
        <script>
    $(function () {
        setTimeout(function () { $("#cookieConcent").addClass("cookieConcentBottom"); }, 10000);
        $("#cookieConcent .close").click(function () {
            $.post("@Url.Action("CookiesConcentClosed", "UserSettings")", function () { $("#cookieConcent").alert("close"); })
        });
    });
        </script>
    }
    <script src="~/js/layout.js" asp-append-version="true" async></script>
    @RenderSection("scripts", false)
</body>
</html>
