@inject IOptions<Settings> options
@model MyBlog.Models.Mail
@{ 
    ViewBag.Title = Resources.Mail;
    ViewBag.Description = String.Format(Resources.ContactDescription, options.Value.AuthorName);
}
<panel title="@Resources.Mail" icon="fa-envelope">
    <form asp-controller="Mail" method="post" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"/>
        <div class="mb-3">
            <label asp-for="SenderName" class="form-label"></label>
            <input asp-for="SenderName" class="form-control" placeholder="@Resources.EnterName" required />
            <div class="m-2">
                <span asp-validation-for="SenderName" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="SenderMail" class="form-label"></label>
            <input asp-for="SenderMail" class="form-control" placeholder="@Resources.EnterEmail" required />
            <div class="m-2">
                <span asp-validation-for="SenderMail" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="Subject" class="form-label"></label>
            <input asp-for="Subject" class="form-control" placeholder="@Resources.EnterSubject" required />
            <div class="m-2">
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="Content" class="form-label"></label>
            <textarea asp-for="Content" class="form-control" placeholder="@Resources.EnterMessage" rows="10" required></textarea>
            <div class="m-2">
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
        </div>
        <div class="float-end">
            <input type="submit" value="@Resources.Send" class="btn btn-primary" />
        </div>
    </form>
</panel>