@model MyBlog.Engine.Models.EditAccount
@{
    ViewBag.Title = Resources.EditAccount;
}
@section scripts{
    <script src="~/js/account-edit.js" async></script>
}
<panel title="@Resources.EditAccount">
    <div class="alert alert-info">@Resources.EditAccountInformation</div>
    @if (Model.Success.HasValue)
    {
        if (Model.Success.Value)
        {
            <div class="alert alert-success">@Resources.EditAccountSuccess</div>
        }
        else
        {
            <div class="alert alert-danger">@Resources.EditAccountError</div>
        }
    }
    <form asp-action="Edit" method="post" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="User.Name" class="form-label"></label>
            <input asp-for="User.Name" class="form-control" placeholder="@Resources.EnterName" />
            <div class="m-2">
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="User.Email" class="form-label"></label>
            <input asp-for="User.Email" class="form-control" placeholder="@Resources.EnterEmail" />
            <div class="m-2">
                <span asp-validation-for="User.Email" class="text-danger invalid-feedback"></span>
            </div>
        </div>
        <div class="col-12">
            @if (Model.User.EmailValidate)
            {
                <i class="fas fa-check-circle" aria-hidden="true" style="color:green"></i> @Resources.EmailValidationStatusOk
            }
            else if (Model.User.Id != 0)
            {
            <div class="mb-2">
                <i class="fas fa-exclamation-circle" aria-hidden="true" style="color:red"></i> @Resources.EmailValidationStatusKo
            </div>
            <button type="button" class="btn btn-primary" id="sendvalidationmail"><i class="fas fa-paper-plane" aria-hidden="true"></i> @Resources.SendValidationMail</button>
            }
        </div>
        <div class="float-end">
            <input type="submit" value="@Resources.Save" class="btn btn-primary" />
        </div>
    </form>
</panel>